In [1]:
import pandas as pd
import numpy as np

In [ ]:
#Step 2. Import the dataset from this address.

In [17]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [98]:
df = pd.read_csv(url,'\t')

In [99]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [23]:
#Step 3. Assign it to a variable called chipo.

In [24]:
chipo = df

In [ ]:
# Step 5. What is the number of observations in the dataset?

In [31]:
len(chipo.index)

4622

In [ ]:
# Step 6. What is the number of columns in the dataset?

In [32]:
len(chipo.columns)

5

In [33]:
# Step 7. Print the name of all the columns

In [100]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
# Step 8. How is the dataset indexed?

In [70]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [ ]:
# Step 9. Which was the most-ordered item?

In [88]:
chipo.groupby(['item_name']).sum().sort_values(by='quantity',ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [ ]:
# Step 10. For the most-ordered item, how many items were ordered?

In [89]:
chipo.groupby(['item_name']).sum().sort_values(by='quantity',ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [ ]:
# Step 11. What was the most ordered item in the choice_description column?

In [90]:
chipo.groupby(['choice_description']).sum().sort_values(by='quantity',ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [46]:
#Step 12. How many items were orderd in total?

In [47]:
chipo.quantity.sum()

4972

In [ ]:
# Step 13.a. Check the item price type

In [101]:
chipo.item_price.dtypes

dtype('float64')

In [ ]:
# Step 13.b. Create a lambda function and change the type of item price

In [96]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x.strip('$')))

AttributeError: 'float' object has no attribute 'strip'

In [ ]:
# Step 13.c. Check the item price type

In [102]:
chipo.item_price.dtypes

dtype('float64')

In [ ]:
# Step 14. How much was the revenue for the period in the dataset?

In [103]:
revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [104]:
#Step 15. How many orders were made in the period?

In [105]:
orders = chipo.order_id.value_counts().count()
orders

1834

In [ ]:
# Step 16. What is the average revenue amount per order?

In [ ]:
chipo.groupby(by=['order_id']).sum().mean()['revenue']

In [ ]:
# Step 17. How many different items are sold?

In [109]:
chipo.item_name.value_counts().count()

50