In [4]:
isimler = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
direks_sag =  [True, False, False, False, True, True, True]
arac_sayisi = [809, 731, 588, 18, 200, 70, 45]   # 10bin kisi basina dusen arac sayisi

# pandas kutuphanesini import ediniz
import pandas as pd

# verilen listeleri kullanarak sozlugum adli bir sozluk olusturunuz. 
# degisken adlari:  ulkeler,  direksiyon_sag,  arac_sayisi
sozlugum = { 'ulkeler':isimler,'direks_sag':direks_sag,'arac_sayisi':arac_sayisi}

# 'sozlugum' adli sozluk u Dataframe e ceviriniz: 'araclar' ismi ile kaydediniz
araclar = pd.DataFrame(sozlugum)

# bu dataframe i yazdiriniz
araclar

         ulkeler  direks_sag  arac_sayisi
0  United States        True          809
1      Australia       False          731
2          Japan       False          588
3          India       False           18
4         Russia        True          200
5        Morocco        True           70
6          Egypt        True           45

2. gozlem indeksleri atama: df.index =

In [7]:
satir_indeksleri = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

# verilen diziyi araclar dataframe inin indeksi icin kullaniniz (atayiniz)
araclar.index = satir_indeksleri

# araclar dataframe ini tekrar yazdiriniz
print(araclar)

           ulkeler  direks_sag  arac_sayisi
US   United States        True          809
AUS      Australia       False          731
JAP          Japan       False          588
IN           India       False           18
RU          Russia        True          200
MOR        Morocco        True           70
EG           Egypt        True           45

3. csv dosyasi okuma:

In [20]:
# pandas i import ediniz:
import pandas as pd
# cars.csv  dosyasini cars adi ile kaydediniz
cars = pd.read_csv('cars.csv')

# cars verisinin ilk 5 gozlemini yazdiriniz
print(cars.head())

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True

In [21]:
# Kolon ismi değiştirme
cars.rename(columns = {'Unnamed: 0':'kisa_ad'}, inplace = True)
print(cars.head())

  kisa_ad  cars_per_cap        country  drives_right
0      US           809  United States          True
1     AUS           731      Australia         False
2     JAP           588          Japan         False
3      IN            18          India         False
4      RU           200         Russia          True

4. ilk kolonu satirlarin indeksi olarak acmak icin kulanilan arguman:  index_col = 0

In [24]:
# ilk sutun gozlemlerin indeksi olarak belirlenmis olarak csv dosyasini okuyunuz:
cars = pd.read_csv('cars.csv',  index_col = 0)


# cars verisini tekrar yazdiriniz
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

5. Koseli parantezle degisken secme :

In [31]:
# country degiskenini bir Pandas Series olarak yazdiriniz
print(cars['country'])

# country degiskenini bir  Pandas DataFrame olarak yazdiriniz
print(cars[['country']])

# dataframe in sadece country ve drives_right degiskenlerini secerek yazdiriniz
cars[['country','drives_right']]

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

6. Koseli parantezle gozlem secme :

In [37]:
# cars verisinin ilk 3 gozlemi yazdiriniz
print(cars[:3])

# 4. 5. ve 6. gozlemleri yazdiriniz
print(cars[3:6])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
     cars_per_cap  country  drives_right
IN             18    India         False
RU            200   Russia          True
MOR            70  Morocco          True

7. loc ve iloc:

In [42]:
# sadece Japonya ya ait bilgileri yazdiriniz
print(cars.loc['JAP'])

# Avusturya ve Misira ait bilgileri yazdiriiniz
cars.loc[['AUS','EG'],:]

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

8. loc ve iloc 2:

In [46]:
# Morocco a ait drives_right bilgisini yazdiriniz
print(cars.loc['MOR','drives_right'])

# rusya ve morocco nun country ve drives_right bilgilerini yazdiriniz:
print(cars.loc[['RU','MOR'],['country','drives_right']])

True
     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [53]:
# EXTRA LOC KULLANIMI
print(cars.loc['US':'RU','cars_per_cap':'drives_right'])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True

9. loc ve iloc 3:

In [57]:
# drives_right kolonunu(degiskenini) bir Series olarak yazdiriniz:
print(cars.loc[:,'drives_right'])

# drives_right kolonunu(degiskenini) bir DataFrame olarak yazdiriniz:
print(cars.loc[:,['drives_right']])

# cars_per_cap ve drives_right kolonlarini(degiskenlerini) bir DataFrame olarak yazdiriniz:
cars.loc[:,['cars_per_cap','drives_right']]

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True

     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True

10. Pandas DataFrame uzerinde filtreleme:     df[df['column1']]

In [62]:
# sag direksiyonlu olanlari ifade eden drives_right kolonunu bir Series olarak dr adiyla kaydediniz: dr
dr = cars['drives_right'] 

#  dr i kullanarak cars dataframini filtreleyiniz, secilen adi ile kaydediniz: secilen
# (burada dr icindeki True lara karsilik gelen gozlemleri secilir, digerleri secilmez)
secilen = cars[dr]

# secilen  dataframini yazdiriniz
secilen

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

11. tek satirda ayni islem:

In [63]:
# Yukaridaki secme isleminin aynisini tek satirda yapiniz:
secilen = cars[cars['drives_right']]

# secilen  dataframe ini yazdiriniz:
print(secilen)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

12. Filtreleme-Secme 2:

In [65]:
# cars_per_cap degeri 500 den buyuk olan degerleri seciniz. bu veriyi  car_maniac  adiyla kaydediniz 
car_maniac = cars['cars_per_cap'] > 500



#  car_maniac  verisini yazdiriniz
print(car_maniac)

US      True
AUS     True
JAP     True
IN     False
RU     False
MOR    False
EG     False
Name: cars_per_cap, dtype: bool

13. Filtreleme-Secme 3:

BILGI:
cpc = cars['cars_per_cap']
cars[ (cpc > 10) & (cpc < 80) ]

veya 

cpc = cars['cars_per_cap']
cars[ np.logical_and(cpc > 10, cpc < 80) ]

In [71]:
import numpy as np

# cars_per_cap degeri 500 den küçük ve 100 den büyük olan degerleri seciniz. bu veriyi  medium  adiyla kaydediniz
medium = (cars['cars_per_cap'] < 500) & (cars['cars_per_cap'] > 100)

# medium u yazdiriniz
print(medium)

US     False
AUS    False
JAP    False
IN     False
RU      True
MOR    False
EG     False
Name: cars_per_cap, dtype: bool

14. DataFrame uzerinde dongu

BILGI:

for sutun, satir in df.iterrows() :
    ...

In [73]:
# cars uzerinde for ile dongu kurarak degisken adini ve o degiskenin gozlemlerini yazdiriniz
for indeks, row in cars.iterrows():
    print(indeks)
    print(row)
    print("\n")

US
cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object


AUS
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object


JAP
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object


IN
cars_per_cap       18
country         India
drives_right    False
Name: IN, dtype: object


RU
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object


MOR
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object


EG
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

BILGI:

for sutun, satir in df.iterrows() :
    print(satir['country'])

15. DataFrame uzerinde dongu-2

US: 809
AUS: 731
JAP: 588
IN: 18
RU: 200
MOR: 70
EG: 45

In [76]:
# bir ustteki hucrede yazilan ciktiyi veren kodlari yaziniz. (cars dataframe'inin uzerinde dongu kullanarak)
for indeks, row in cars.iterrows():
    print(indeks + ":" + str(row['cars_per_cap']))

US:809
AUS:731
JAP:588
IN:18
RU:200
MOR:70
EG:45

16. Dongu ile dataframe'e ait olan bir degiskeni alip, bir islem yapip baska bir degisken olarak dataframe'e ekleme

In [77]:
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [78]:
# Cars verisi uzerinde goruldugu gibi country adli bir degisken(kolon) var. df uzerinde for dongusu ile bu degiskeni kullanip 
# ayni ulke isimlerinin buyuk harfli halini barindiran yeni bir degisken olusturup bu veriye ekleyiniz.
# yeni degiskenin adi: COUNTRY seklinde olsun
for indeks,row in cars.iterrows():
    cars.loc[indeks,'COUNTRY']= row['country'].upper()
    
# df i yazdiriniz
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

17. dongu yerine .apply() methodu:

BILGI: Asagida verilen iki kod parcacigi ayni isi yapar:

for degisken, gozlem in df.iterrows() :
    df.loc[degisken, "name_length"] = len(gozlem["country"])

df["name_length"] = df["country"].apply(len)

In [79]:
import pandas as pd
# cars verisinin ilk halini tekrar cagiralim:
cars = pd.read_csv('cars.csv', index_col = 0)

# 16. adimda yapilan ayni seyi .apply(str.upper)  yontemi ile yapiniz. (Bilgiye dikkat!)
cars['COUNTRY'] = cars['country'].apply(str.upper)

# cars df sini yazdiriniz
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

# Extra about apply

In [82]:
def square(x):
    return x ** 2

In [90]:
cars['kare'] = cars['cars_per_cap'].apply(square)

In [91]:
cars['küp'] = cars['cars_per_cap'].apply(lambda x: x**3)

In [94]:
cars

,cars_per_cap,country,drives_right,COUNTRY,kare,küp,ortalama,orta
US,809,United States,True,UNITED STATES,654481,529475129,351.571429,530129610
AUS,731,Australia,False,AUSTRALIA,534361,390617891,351.571429,391152252
JAP,588,Japan,False,JAPAN,345744,203297472,351.571429,203643216
IN,18,India,False,INDIA,324,5832,351.571429,6156
RU,200,Russia,True,RUSSIA,40000,8000000,351.571429,8040000
MOR,70,Morocco,True,MOROCCO,4900,343000,351.571429,347900
EG,45,Egypt,True,EGYPT,2025,91125,351.571429,93150