In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [2]:
l = [1,2,3,4,5,6]
pd = pd.Series(l)
pd

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
# Write a Python program to convert a Panda module Series to Python list and it's type

In [12]:
s = pd.Series([1,2,3,4,5,6])
print(s)
print(' to list ', list(s))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
 to list  [1, 2, 3, 4, 5, 6]

In [8]:
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print("Pandas Series and type")
print(ds)
print(type(ds))
print("Convert Pandas Series to Python list")
print(ds.tolist())
print(type(ds.tolist()))

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python list
[2, 4, 6, 8, 10]
<class 'list'>

In [ ]:
# Write a Python program to add, subtract, multiple and divide two Pandas Series.

In [25]:
a = pd.Series([2,4,6,8,10])
b = pd.Series([1,3,5,7,9])
print('multipy')
print(a*b)
print('division')
print(a/b)
print('add')
print(a+b)
print('substract')
print(a-b)

multipy
0     2
1    12
2    30
3    56
4    90
dtype: int64
division
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64
add
0     3
1     7
2    11
3    15
4    19
dtype: int64
substract
0    1
1    1
2    1
3    1
4    1
dtype: int64

In [26]:
# Write a Python program to get the largest integer smaller or equal to the division of the inputs.

In [31]:
ds1 = pd.Series([1,2,4,56,7,9])
ds2 = pd.Series([3,55,6,79,7,89])
print('ds1 < ds2')
print(ds1 < ds2)
print('ds1 != ds2')
print(ds1 != ds2)
print('ds1 > ds2')
print(ds1 > ds2)

ds1 < ds2
0     True
1     True
2     True
3     True
4    False
5     True
dtype: bool
ds1 != ds2
0     True
1     True
2     True
3     True
4    False
5     True
dtype: bool
ds1 > ds2
0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [ ]:
# Write a Python program to convert a dictionary to a Pandas series

In [32]:
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
ds = pd.Series(d)
ds

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [ ]:
# Write a Python program to convert a NumPy array to a Pandas series.

In [34]:
arr = np.array([10,20,30, 40, 50])
ds = pd.Series(arr)
print('numpy array')
print(arr)
print('pandas series')
print(ds)

numpy array
[10 20 30 40 50]
pandas series
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [ ]:
# Write a Python program to change the data type of given a column or a Series.

In [40]:
ds = pd.Series([100,200, 'python', 300.12,400])
s2 = pd.to_numeric(ds, errors='coerce')
s2

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [ ]:
# Write a Python Pandas program to convert the first column of a DataFrame as a Series

In [42]:
s1 = np.random.randint(1,30, size = 5)
s2 = np.random.randint(1,30, size = 5)
s3 = np.random.randint(1,30, size = 5)
dict = {' col1':s1, 'col2':s2, 'col3':s3}
df = pd.DataFrame(dict)
df

    col1  col2  col3
0     21     4    21
1      8    20    22
2      9    20    20
3     15     3    22
4     19     2     8

In [63]:
df1 = df.iloc[:,0]
df1

0    21
1     8
2     9
3    15
4    19
Name:  col1, dtype: int32

In [64]:
type(df1)

pandas.core.series.Series

In [72]:
# Write a Pandas program to convert Series of lists to one Series

Object `apply` not found.

In [76]:
l= [['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']]
ds3 = pd.Series(l)
ds3 = ds3.apply(pd.Series).stack().reset_index(drop=True)
ds3

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [23]:
#Write a Pandas program to sort a given Series

In [20]:
import pandas as pd
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])

new_s = pd.Series(s1).sort_values()
print(new_s)

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [24]:
#Write a Pandas program to add some data to an existing Series

In [32]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
new_s = s1.append(pd.Series(['500', 'php']))
new_s

0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

In [35]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
new_s = s1.append(pd.Series(['orhan', 'ari']))
new_s

0       100
1       200
2    python
3    300.12
4       400
0     orhan
1       ari
dtype: object

In [ ]:
#Write a Pandas program to create a subset of a given series based on value and condition

In [42]:
s = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
n = 4
ds = s[s < n ]
ds

0    0
1    1
2    2
3    3
dtype: int64

In [40]:
import pandas as pd
s = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
print("Original Data Series:")
print(s)
print("\nSubset of the above Data Series:")
n = 6
new_s = s[s < n]
print(new_s)

Original Data Series:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

Subset of the above Data Series:
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [ ]:
# Write a Pandas program to change the order of index of a given series.

In [46]:
s = pd.Series([1,2,3,4,5], index=['A','B','C','D','E'])
s.index['B','A','C','D','E']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices